# Compiled #
\target\**

# Log & DB files #
\.log
\.sql

# Package Files #
\.jar
\.war
\.ear
\.zip
\.tar.gz
\.rar

# OS Files #
\.DS_Store
\.DS_Store?

# Eclipse #

\.classpath
\.project
\.settings/
/target/

*.sql
