<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>debug.log</file>
		
		<encoder>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %class %logger{30} - %msg%n
			</Pattern>
		</encoder>

	</appender>
	
	<logger name="com.zaxxer.hikari.pool.HikariPool">
	    <level value="off"/>
	</logger>
	
	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>

</configuration>